* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightgrey;
  color: black;
  justify-content: space-between;
}

.header h1 {
  display: inline-block;
  font-size: 40px;
  padding: 10%;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

#navBar {
  display: flex;
  flex-direction: row;
}

.hero {
  display: flex;
  padding: 70px;
  margin-left: -5%;
  background-image: url(../images/ocean-view.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
} 

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

body {
  font-family: 'Poppins', sans-serif;
}

user agent stylesheet
body {
  display: block;
  margin: 8px;
}

.Parent { 
display: flex; 
flex-direction: row; 
margin-top: 5px;
margin-bottom: 5px;
} 
  
.child1 { 
width: 50%;  
background-color: white; 
text-align: right; 
font: black; 
margin-top: 15px;
margin-left: 15px;
} 
  
.child2 { 
width: 50%; 
color: black;
margin-top: 20px;
margin-bottom: 20px; 
} 


#about {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

.work-area .subHeading {
  margin-left: 15px;
  margin-right: 40%;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.work-area {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#containerGrid {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "Project1 Project1 Project1"
  "Project2 Project2 Project3"
  "Project4 Project5 Project5"
  ;
  gap: 20px;
}

#containerGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-areas:
  "Project1 Project1 Project1"
  "Project2 Project2 Project3"
  "Project4 Project5 Project5"
  gap: 20px; /
}

@media (max-width: 768px) {
  #containerGrid {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.categoryGridArea {
  padding: 20px;
  text-align: center;
}

#Project1 {
  grid-area: Project1;
  background-image: url("../images/02-portfolio-1.jpg");

}
#Project2 {
  grid-area: Project2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#Project3 {
  grid-area: Project3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#Project4 {
grid-area: Project4;
background-image: url("../images/02-portfolio-4.jpg");
}

#Project5 {
grid-area: Project5;
background-image: url("../images/02-run-buddy.jpg");
}

.containerGridArea {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: 5px;
cursor: pointer;
display: grid;
align-content: end;
}

.heading {
padding: 15px;
height: 25px;
color: black;
font-size: 25px;
border-bottom: 5px;
}

.row {
display: flex;
align-items: center;
content: "";
clear: both;
margin-top: 20px;
}


.column {
float: left;
flex: 1 1 50%;
width: 50%;
padding: 10px;
margin-left: 15px;
margin-right: 0px;
margin-top: 20px;
}


@media screen and (max-width: 600px) {

.column {
  width: 100%;
 }

}
#emailSection {
order: 1; 
margin-top: 20px; 
}

https://github.com/yasaaz/personal-portfolio